.contact__info
    flex-basis: 100%
    max-width: 1000px
    display: flex
    flex-wrap: wrap
    background-color: gray
    border-radius: 5px
    justify-content: space-around
    align-items: center
    margin-top: 50px
    padding: 40px 0
    .info__map
        height: 300px
        margin: 20px auto
        max-width: 500px
        img
            display: block
            height: 100%
            width: 100%
            object-fit: cover
            object-position: 50% 50%
            -o-object-fit: cover
            -o-object-position: 50% 50%
            border-radius: 5px
            box-shadow: 1px 1px 3px 2px gray
            &:hover ~ .infoList-item:nth-of-type(2)
                font-size: 25px
    .info__details
        margin: 20px 0
        min-width: 320px
        width: 100%
        max-width: 500px
        .details__head
            text-align: center
            font-size: 35px
            margin-bottom: 20px
            font-family: Italianno, sans-serif
        .details__row
            margin: 20px 0
            font-family: Roboto, sans-serif
            .row__link
                display: block
                padding-right: 20px
                font-size: 24px
                text-align: right
                text-decoration: none
                color: black
                position: relative
                i
                    position: absolute
                    left: 5%

@media (min-width:1811px)
    .contact__info
        .info__map
            height: 100%
            width: 50%

@media (min-width: 1024px)

    .contact__info
        .info__details
            .details__row
                .row__link
                    display: block
                    padding-right: 20px
                    font-size: 24px
                    text-align: right
                    text-decoration: none
                    color: black
                    position: relative
                    i
                        position: absolute
                        left: 5%
                    &:hover
                        color: white
